
/**
 * tncIzgara
 * @author Tanju Yildiz <yildiz.tanju@gmail.com>
 * @date 13:01 10.12.2012
 * @file tncizgara.css
 */

* { margin: 0; padding: 0; outline: 0; }
body {
	background: #EEEEEE;
	color:#333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
}
h1 { font-size: 16px; margin: 10px 0; text-align: center; }
p { margin: 10px 0; text-align: justify; }
h1 code { font-family: "Monaco", mono; }

/**************************************************************/
.kapsayici {
	background: rgba(255,0,0,0.35);
	margin: 10px auto; padding: 15px 0;
	width: 960px;
}
.kapsayici:before, .kapsayici:after { content: " "; display: table; }
.kapsayici:after { clear: both; }
.kapsayici { *zoom: 1; }
/**************************************************************/
.bolum {
	display: block;
	float: left;
	margin: 10px;
}
.bolum:after { clear: both; }
/**************************************************************/
.izgara_10,
.izgara_20,
.izgara_30,
.izgara_31,
.izgara_32 {
	display: inline-block;
	padding: 0 10px;
}
/**************************************************************/
.izgara_10 .bolum,
.izgara_20 .bolum,
.izgara_30 .bolum,
.izgara_31 .bolum,
.izgara_32 .bolum {
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	padding: 0 5px;
}
/**************************************************************/
.izgara_10 .bolum { margin: 10px 0; width: 930px; }
/**************************************************************/
.izgara_20 .bolum { margin: 10px 0; width: 455px; }
.izgara_20 div[class="bolum"]:first-child { margin: 10px 0 10px 0; }
.izgara_20 div[class="bolum"]:last-child  { margin: 10px 0 10px 10px; }
/**************************************************************/
.izgara_30 .bolum { width: 296px; }
.izgara_30 div[class="bolum"]:first-child { margin: 10px 0 10px 0; }
.izgara_30 div[class="bolum"]:last-child  { margin: 10px 0 10px 0; }
/**************************************************************/
.izgara_31 .bolum { width: 296px; }
.izgara_31 div[class="bolum"]:first-child { margin: 10px 0 10px 0; }
.izgara_31 div[class="bolum"]:last-child  { margin: 10px 0 10px 10px; width: 614px; }
/**************************************************************/
.izgara_32 .bolum { width: 614px; }
.izgara_32 div[class="bolum"]:first-child { margin: 10px 0 10px 0; }
.izgara_32 div[class="bolum"]:last-child  { margin: 10px 0 10px 10px; width: 296px; }
